__pycache__/
*.py[cod]
build/
build_glm/
build_direct/
.vscode/
*.pyd
logs/
include/

*.html
*.cpp
*.log
*.c
*.so.c
!*_c.cpp

!original_func/*
!original_func/shared/*
!original_func/aoslib/*

aosdump/*

old/
test/
packs/

.DS_Store

*.so

.vs/
.idea/
vs/